
body {

     background-image: url("423283a2b0089d478492c4b42474fcc3.jpg");
            background-size: no-repeat;
            background-position: center;
            background-size: cover;
            height: 400px;
            width: 1000px;
    font-family: Tahoma; /* Шрифт */
    margin: 0;
    padding: 15px;
    font-size: 15px
}


h1 {
    white-space: nowrap;
    color: #6A3088; /* Цвет заголовка */
}

ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
}

li {
    background-color: #fff; /* Цвет фона для постов */
    margin: 5px 0; /* Отступы между постами */
    padding: 5px;
    border-radius: 5px; /* Скругление углов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
}

.pagination {
    margin-top: 20px;
}

.step-links a {
    margin: 0 5px;
    text-decoration: none; /* Убираем подчеркивание */
    color: #007BFF; /* Цвет ссылок */
}

.step-links a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.current {
    font-weight: bold; /* Жирный шрифт для текущей страницы */
}

.header-container {
   width: 100%;
   overflow: hidden;  / *Для предотвращения переполнения* /
}
.product-list {
    display: flex;
    flex-direction: column; /* Выстраиваем элементы в колонку */
    align-items: center; /* Центрируем элементы по горизонтали */
    margin: 0 auto; /* Центрируем блок на странице */
    max-width: 1000px; /* Ограничиваем ширину */
}

.product-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px 0; /* Отступы между товарами */
    width: 100%; /* Ширина товара */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  /* Добавим цвет и ширину блока для наглядности*/
  background-color:#f1f1f1;
  width: 100%;
}