{% extends 'base.html' %}

{% block content %}
<h2>Ваши заказы</h2>
{% if order_items %}
    <ul>
        {% for item in order_items %}
            <li>Товар: {{ item.product.name }} - Количество: {{ item.quantity }} - Статус: {{ item.product.status }}</li>
        {% endfor %}
    </ul>

    <!-- Кнопка оформления заказа -->
    <form method="POST" action="{% url 'order_create' %}">
        {% csrf_token %}
        <button type="submit">Оформить заказ</button>
    </form>
{% else %}
    <p>Нет заказов.</p>
{% endif %}
{% endblock %}